<h3>Create article</h3>
<%= form_for @article do |f| %>
   <div class="form-group">
	  <%= f.label :headline %> 
	  <%= f.text_field :headline, class: 'form-control' %> 
   </div>
	<div class="form-group">
	  <%= f.label :summary %>
	  <%= f.text_field :summary, class: 'form-control'  %>
	</div>
	<div class="form-group">
	  <%= f.label :body %>
	  <%= f.text_area :body , class: 'form-control' %> 
    </div>
    <div class="form-group">
	  <%= f.label :conclusion %>
	  <%= f.text_field :conclusion , class: 'form-control' %> 
    </div>
    <div class="form-group">
	  <%= f.label :ticker %>
	  <%= f.text_field :ticker , class: 'form-control' %> 
    </div>
      <%= f.submit 'Create', class: 'btn btn-primary btn-sm' %>
<%end%> 